

@media (max-width: 900px) {
    
   
    .inline {
        flex-direction: column;
        align-items: center;
    }

    .item {
        margin: 0;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
