<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Internet store</title>
    {% load static %}
    <link rel="stylesheet" href="{%static './styles/styles.css' %}" type="text/css">
    <link rel="icon" href="{%static './images/laptoplogo.png' %}">
</head>
{% block content %} {% endblock %}

</html>